.container {
    display: flex;
    flex-flow: row nowrap;
    align-items: flex-start;
    place-content: flex-start center;
    width: fit-content;
    min-width: 100%;
    box-sizing: border-box;
    height: 100%;
    padding: 12px 4px 0 12px;

    &-card {
        border-color: #f1f3f4;
        border-radius: 16px;
        border-style: solid;
        border-width: 1px;
        flex-shrink: 1;
        flex-grow: 1;
        max-width: 680px;
        min-width: 300px;
        overflow: clip;

        &--header {
            display: flex;
            justify-content: space-between;
            align-items: baseline;
        }

        &--content {
            display: flex;
            padding: 0px 16px 20px 16px;
            cursor: pointer;
            &--checkbox {
                width: 40px;
                input {
                    cursor: pointer;
                    width: 17px;
                    height: 28px;
                }
            }
            &--description{
                width: 100%;
                h4{
                    word-break: break-all;
                }
            }
            &:hover {
                background-color: #f8f9fa;
                transition: ease .3s;
            }
        }

        &--finished {
            &-task {
                animation: fade-down 0.5s;
            }
        }

        &:hover {
            animation: ease-in-out .3s;
            box-shadow: 0 1px 2px 0 rgba(60, 64, 67, 0.3), 0 1px 3px 1px rgba(60, 64, 67, 0.15);
        }
    }

    &-actions{
        &--btn{
            width: 100%;
            display: flex;
            justify-content: start;
            border-radius: 20px;
            color: #1a73e8;
            &:hover {
                transition: .3s ease;
                box-shadow: 0 1px 2px 0 rgba(60, 64, 67, 0.3), 0 1px 3px 1px rgba(60, 64, 67, 0.15);
            }
        }
    }
    
}

mat-card-header{
    display: flex;
    flex-direction: column-reverse;
}

mat-checkbox {
    svg {
        border-color: #1a73e8 ;
        background-color: #1a73e8;
    }
}

mat-form-field {
    width: 100%;
}

@keyframes fade-down {
    0% {
        opacity: 0;
        transform: translateY(-20px);
    }

    100% {
        opacity: 1;
        transform: translateY(0px);
    }
}

@keyframes fade-up {
    0% {
        transform: translateY(0px);
    }
    100% {
        transform: translateY(-3px);
    }
}