<h2 mat-dialog-title>Add a new task</h2>
<mat-dialog-content style="padding-top:5px;">
    <form [formGroup]="taskForm">
        <mat-form-field appearance="outline">
            <mat-label>Title</mat-label>
            <input matInput type="text" placeholder="Title" formControlName="name"/>
            <mat-error *ngIf="taskForm.get('name')?.hasError('required')">
                    Enter your title
            </mat-error>
        </mat-form-field>
        <mat-form-field appearance="outline">
            <mat-label>Description</mat-label>
            <textarea matInput placeholder="Description" formControlName="description"></textarea>
            <mat-error *ngIf="taskForm.get('description')?.hasError('required')">
            Enter your description
            </mat-error>
        </mat-form-field>
        <mat-label>Due Date</mat-label>
        <input class="datetime-local" type="datetime-local" placeholder="Choose a due date" formControlName="endDate">
    </form>
</mat-dialog-content>
<mat-dialog-actions align="end">
  <button mat-button (click)="onNoClick()">Cancel</button>
  <button mat-button color="primary" type="submit" (click)="postTask()" [disabled]="taskForm.invalid">Submit</button>
</mat-dialog-actions>