<div class="container">
    <mat-card appearance="outlined" class="container-card">
        <mat-card-header>
            <div class="container-card--header">
                <mat-card-title> My Task List</mat-card-title>
                <button mat-icon-button [matMenuTriggerFor]="menu">
                    <mat-icon>more_vert</mat-icon>
                </button>
                <mat-menu class="container-card--header--menu" #menu="matMenu" xPosition="before">
                <mat-card-subtitle>Sort by</mat-card-subtitle>
                <button mat-menu-item (click)="getTasks(false, 'name', false)">
                    <mat-icon>sort_by_alpha</mat-icon>
                    <span>Title</span>
                </button>
                <button mat-menu-item (click)="getTasks(false, 'createdDate', false)">
                    <mat-icon>date_range</mat-icon>
                    <span>Created Date</span>
                </button>
                <button mat-menu-item (click)="getTasks(false, 'endDate', false)">
                    <mat-icon>update</mat-icon>
                    <span>Deadline</span>
                </button>
                </mat-menu>
            </div>
          <!-- <mat-card-subtitle>Herding group</mat-card-subtitle> -->
        </mat-card-header>
        <mat-card-actions>
          <button mat-button class="container-actions--btn" (click)="openDialog('800ms', '500ms')">
            <mat-icon>library_add</mat-icon>
            Add a Task
        </button>
        </mat-card-actions>
        <mat-card-content>
            @for (task of tasks; track task) {
            <div class="container-card--content" (mouseenter)="onMouseEnter(task.id)" (mouseleave)="onMouseLeave(task.id)">
                <div class="container-card--content--checkbox">
                    <input color="primary" 
                    type="checkbox"
                    matTooltip="Mark as completed"
                    [matTooltipShowDelay]="800"
                    [value]="task.id"
                    [checked]="task.isCompleted"
                    (change)="onChangeComplete($event)"/>
                </div>
                <div class="container-card--content--description" (click)="openTaskModel(task.id)">
                    <mat-card-title>{{task.name}}</mat-card-title>
                    <h4>{{task.description}}</h4>
                    <mat-card-subtitle>Due Date: {{task.endDate | date}}</mat-card-subtitle>
                </div>
                <button mat-mini-fab color="primary" *ngIf="isShowButton[task.id]" [value]="task.id" (click)="openDeleteModel('300ms', '300ms', task.id)" id="delete-btn">
                    <mat-icon>delete</mat-icon>
                </button>
            </div>
            }
        </mat-card-content>
        <mat-divider></mat-divider>
        <mat-card-actions>
            <button mat-button class="container-actions--btn" (click)="showFinishedTasks()">
                <mat-icon>{{ isHideFinishedTasks ? "keyboard_arrow_down" : "keyboard_arrow_right"}}</mat-icon>
                Completed Task
            </button>
        </mat-card-actions>
        <mat-card-content *ngIf="isHideFinishedTasks" class="container-card--finished-task">
            @for (finishedTask of finishedTasks; track finishedTask) {
            <div class="container-card--content" (mouseenter)="onMouseEnter(finishedTask.id)" (mouseleave)="onMouseLeave(finishedTask.id)">
                <div class="container-card--content--checkbox">
                    <input color="primary" 
                    type="checkbox"
                    matTooltip="Mark as completed"
                    [matTooltipShowDelay]="800"
                    [value]="finishedTask.id"
                    [checked]="finishedTask.isCompleted"
                    (change)="onChangeComplete($event)"/>
                </div>
                <div class="container-card--content--description">
                    <mat-card-title style="text-decoration: line-through;">{{finishedTask.name}}</mat-card-title>
                    <h4>{{finishedTask.description}}</h4>
                </div>
                <button mat-mini-fab color="primary" *ngIf="isShowButton[finishedTask.id]" [value]="finishedTask.id" (click)="openDeleteModel('300ms', '300ms', finishedTask.id)" id="delete-btn">
                    <mat-icon>delete</mat-icon>
                </button>
            </div>
            }
        </mat-card-content>
    </mat-card>
</div>