<h2 mat-dialog-title>Edit your task</h2>
<mat-dialog-content>
      <form [formGroup]="taskForm">
        <mat-form-field>
            <mat-label>Title</mat-label>
            <input matInput [(ngModel)]="data.name" placeholder="Title" formControlName="name"/>
            <mat-error *ngIf="taskForm.get('name')?.hasError('required')">
                    Enter your title
            </mat-error>
        </mat-form-field>
        <mat-form-field>
            <mat-label>Description</mat-label>
            <textarea matInput [(ngModel)]="data.description" placeholder="Description" formControlName="description"></textarea>
            <mat-error *ngIf="taskForm.get('description')?.hasError('required')">
            Enter your description
            </mat-error>
        </mat-form-field>
        <mat-form-field>
            <mat-label>Due Date</mat-label>
            <input matInput [(ngModel)]="data.endDate" [matDatepicker]="picker" placeholder="Choose a due date" formControlName="endDate">
            <mat-hint>MM/DD/YYYY</mat-hint>
            <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
            <mat-datepicker #picker></mat-datepicker>
            <mat-error *ngIf="taskForm.get('endDate')?.hasError('required')">
                Enter your description
            </mat-error>    
        </mat-form-field>
    </form>
</mat-dialog-content>
<mat-dialog-actions align="end">
  <button mat-button mat-dialog-close>Close</button>
  <button mat-button color="primary" type="submit" (click)="putTask(data.id)" [disabled]="taskForm.invalid">Submit</button>
</mat-dialog-actions>